@using Data.Model
@model User
<div style="direction: rtl; padding: 20px">
    <h2> Deare @Model.Username</h2>
    <p>
        Please Click to change Password
    </p>
    <p>
        <a href="https://localhost:7204/Main/MainHome/ResetPassword/@Model.ActiveCode">Now!</a>
    </p>
</div>